.logo-img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 40px;
  margin-top: 30px;
}

/* Main container styles */
.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Left container styles */
.left {
  flex: 1;
  border: 1px solid brown;
  padding: 20px;
  display: flex;
  flex-direction: column;
  }
  

h1 {
  font-size: 50px;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center;
  }
h1:hover {
  color: brown;

}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex:1 ;
}

.leftItem {
  width: 100%;
  padding: 10px;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 25px;
  background-color: rgb(246, 242, 242);
  transition: transform 0.3s, box-shadow 0.3s;  
}
.leftItem:nth-child(1) {
  border-bottom: 4px solid brown;
 

}

.leftItem:nth-child(3) {
  border-bottom: 4px solid brown;
  border-top: 4px solid brown;
}


/* Right container styles */
.right {
  flex: 1;
  border: 1px solid brown;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.agendaButton, .syllabusButton {
  width: 100%;
  padding: 10px;
  color: brown;
  box-shadow: 2px 2px 1px brown;
  cursor: pointer;
  font-size: 30px;
  flex:1;
  transition: transform 0.2s, box-shadow 0.2s;
}

.agendaButton {
 background-color: #4eb982;  
 
}

.syllabusButton {
 background-color: #fbf7f7;  
 
}
.main {
    border: 4px solid brown;
    height: 60vh;
    margin: 40px;
}

.next{
  display: flex;
}
.nextButton{
  width: 213px;
}
.agendaButton:hover {
  transform: scale(1.05); /* Slightly increase the size on hover */
  box-shadow: 0 8px 8px rgba(124, 20, 20, 0.5); /* Add a subtle 3D shadow effect */
}

.syllabusButton:hover {
  transform: scale(1.05); /* Slightly increase the size on hover */
  box-shadow: 0 8px 8px rgba(124, 20, 20, 0.5); /* Add a subtle 3D shadow effect */
}

/* mobile size */

@media (max-width: 768px) {
.next{
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
}

.right {
margin-bottom:20px ;
border: none;
}

.agendaButton, .syllabusButton {
  width: 100%;
  padding: 6px;
  color: brown;
  cursor: pointer;
  font-size: 20px;
}


.leftItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 font-size: 22px;
}
.left{
   border: none;
}
}