


.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 3px 4px 36px -6px rgba(0,0,0,0.4);
    border-radius: 12px;
    background-color: white;
}

.loginInput {
    width: 100%;
    max-width: 320px;
    height: 35px;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    border: 1px solid #ff0000;
    border-radius: 2px;
    font-size: 16px;
}

.loginButton {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 25px;
    color: white;
    background-color: #ff0000;
    border-radius: 12px;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.loginButton .link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.label {
    font-size: 16px;
    font-weight: 400;
    color: #ff0000;
    margin: 10px 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .loginForm {
        width: 90%;
    }

    .loginInput, .loginButton {
        width: 100%;
    }

    .logo-img {
        width: 100px;
    }
}

.logo-img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto 20px;
}