.contentContainer h1{
  justify-content: center;
  align-items: center;
 text-align: center;
 color:brown;
 font-size:2.3rem ;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding:3px 8px;
  margin-bottom: 10px;
  width: 100%;
}


.loginInput.transparentInput {
  background-color: transparent;
  border: 1px solid #d5cece;
  border-radius: 1px;
  flex-grow: 1;
  outline: none;
  width: 100%;
}

.passwordToggleIcon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.loginInput.transparentInput:focus {
  box-shadow: none;
}

.loginInput.transparentInput:focus + .passwordToggleIcon {
  color: #3c3e41;
}

.down {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 10px;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  justify-content:space-between;
}

.downLeft {
  flex: 3;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 120%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
  padding: 10px;
  
}

.loginForm{
  /* position: absolute; */
  right: 0;
  width: 200px;
   right:2%;
  
}

.loginForm, .registerForm {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 3px solid brown;
  border-radius: 10px;
}

.loginInput, .registerInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.loginButton:hover, .registerButton:hover {
  background-color: #27580b;
  color: white;
 border:1px solid #ccc;
}

.down {
  display: flex;
  justify-content: center; 
}

.downLeft {
  margin-top: 60px;
  display: flex; 
  gap: 10px; 
}
.logoLogin{
   position: absolute;
   width: 50rem;
   bottom:0%;
   left: 30%;
   transform: translate(-50%, -50%);
    margin-bottom:-100px ;
}


@media (min-width: 768px) {
 
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .loginForm, .registerForm {
    width: 45%;
  } 
}

@media only screen and (min-width: 768px) and (max-width: 992px)  {
.logoLogin{
  width:35rem ;
  padding-right:-200px ;
  padding-top: -200px;
  margin-bottom:-100px ;

}
}


@media (max-width: 768px) {
  .container {
    position: relative;
    flex-direction: column;
    gap: 20px;
  }

  .logoLogin{
  display: none;
}
.down{
  margin-bottom:16rem;
}

.downLeft {
  margin-top: 30%;
  display: flex; 
  gap: 10px; 
}

.loginForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px; 
}

}





