.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0px 70px;
}

.imageContainer {
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.contentContainer {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.contentContainer h1{
 padding-bottom: 40px;
 text-align: center;
 color:red ;
}

.contentContainer p li{
 text-align: center;
 margin: 0px 40px;
 font-size: 1.2rem;
}
.loginButton {
    margin-top: 4em;
    padding: 10px 20px;
    color: rgb(207, 49, 49);
    border-radius: 4px;
}
.contactButton{
 margin-top: 2em;
 padding: 8px 40px;
 color: red;
 border-radius: 5px;
}

.down {
    display: flex;
    justify-content: center; 
    margin-top:20px ;
}

.downLeft {
    display: flex; 
    gap: 10px; 
}


/* Change the layout for narrow screens */
@media (max-width: 600px) {
    .imageContainer, .contentContainer {
        flex: 1 0 100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .imageContainer, .contentContainer {
        flex: 1 0 50%;
    }
}

/* Change layout for large screens */
@media (min-width: 1025px) {
    .imageContainer, .contentContainer {
        flex: 1 0 30%;
    }
}


