.topIcon {
  font-size: 30px;
  margin-right: 20px;
  color: brown;
  cursor: pointer;
  display: flex;
  justify-content: center;
 
}
.welcome{
  font-size: 30px;
  color: #1a1919;
  /* text-shadow: 1px 1px 2px brown; */
}

.container {
  border: 4px solid brown;
  height: 50vh;
  margin: 40px 40px 40px 40px;
  justify-content: center;
  position: relative;
}

.logo-img2 {
  padding-right:15% ;
  width: 55rem;
  height: 350px;
  margin-top: 500px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-40%);
}
.up h1 {
  color:brown;
  font-size:50px;
  text-transform:uppercase;
  font-weight: 500;
}
.up{
  /* padding-left:15% ; */
  justify-content: center;
  text-align: center;
}
.down i {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
a {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;

}
.up2{
  display: flex;
  flex-direction: column;
}
.down {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.link:hover {
  color: brown;
}
.link {
  text-decoration: none;
  color: black;
}
.welcome{
border: none;
font-size: 2rem;
}

.logout{
 padding:none;
}
.linkLogout{
 color: black;
 padding:5px;
 font-size:10px ;
 background-color:rgb(184, 21, 21);
 border: none;
}
.linkLogout1{
  text-decoration: none;
}

@media (max-width: 768px) {
  
   .logo-img2{
  display: none;
}
.up h1 {
   color:brown;
   font-size:30px;
   font-weight: 500;  
}
.container {
 margin: auto;
}
}