

.topIcon {
  font-size: 30px;
  margin-right: 20px;
  color: brown;
  cursor: pointer;
  display: flex;
  justify-content: center;
 
}
.welcome{
  font-size: 30px;
  color: #1a1919;
  text-shadow: 1px 1px 2px brown;
}

.container {
  border: 4px solid brown;
  height: 60vh;
  margin: 40px 40px 40px 40px;
  justify-content: center;
}

.logo-img2 {
  padding-right:15% ;
  width: 60rem;
  height: 400px;
  margin-top: 500px;
}
.up h1 {
  color:brown;
    font-size:50px;
    text-transform:uppercase;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-mask-image: linear-gradient(-75deg, rgba(102, 87, 87, 0.2) 20%, #b31515 60%, rgba(39, 22, 22, 0.2) 90%);
    -webkit-mask-size: 200%;
  
}
.up p {
  font-size: 30px;
    text-shadow:1px 1px 1px brown;
}
.up{
  padding-left:15% ;
  justify-content: center;
  text-align: center;
}
.link:hover {
  color: brown;
}
.link {
  text-decoration: none;
  color: black;
}
.welcome{
border: none;
font-size: 2rem;
}



@media (max-width: 768px) {
  
   .logo-img2{
  display: none;
}
.up h1 {
  color:brown;
    font-size:20px;
    text-transform:uppercase;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-mask-image: linear-gradient(-75deg, rgba(102, 87, 87, 0.2) 20%, #b31515 60%, rgba(39, 22, 22, 0.2) 90%);
    -webkit-mask-size: 100%;
  
  
  
}




}