

.topIcon {
  font-size: 30px;
  margin-right: 20px;
  color: brown;
  cursor: pointer;
  display: flex;
  justify-content: center;
 
}
.welcome{
  font-size: 20px;
  color: #1a1919;
  /* text-shadow: 1px 1px 2px brown; */
}

.container {
  border: 4px solid brown;
  height: 50vh;
  margin: 40px 40px 40px 40px;
  justify-content: center;
}

.logo-img2 {
  padding-right:15% ;
  width: 60rem;
  height: 400px;
  margin-top: 500px;
}
.up h1 {
  color:brown;
    font-size:40px;
    /* text-transform:uppercase; */
    font-weight: 500;
    /* text-shadow: 2px 2px 2px rgba(0,0,0,.1);
    -webkit-mask-image: linear-gradient(-85deg, rgba(102, 87, 87, 0.2) 10%, #b31515 100%, rgba(39, 22, 22, 0.2) 90%);
    -webkit-mask-size: 200%; */
  
}
.up p {
  font-size: 30px;
    /* text-shadow:1px 1px 1px brown; */
}
.up{
  padding-left:15% ;
  justify-content: center;
  text-align: center;
}
.up2{
  display: flex;
  flex-direction: column;
}
.down {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.link:hover {
  color: brown;
}
.link {
  text-decoration: none;
  color: black;
}
.welcome{
border: none;
font-size: 2rem;
}

.logout{
 padding:none;
}
.linkLogout{
 color: black;
 padding:4px;
 font-size:10px ;
 background-color: #e2e1e1;
 border: none;
}
.linkLogout1{
  text-decoration: none;
}

@media (max-width: 768px) {
  
   .logo-img2{
  display: none;
}
.up h1 {
   color:brown;
    font-size:20px;
    /* text-transform:uppercase; */
    font-weight: 500;
    text-shadow: 1px 2px 2px rgba(0,0,0,.1);
    -webkit-mask-image: linear-gradient(-75deg, rgba(2, 0, 0, 0.2) 0%, #780d0d 20%, rgba(5, 5, 5, 0.2) 160%);
    -webkit-mask-size: 100%;
  
  
  
}
.container {
 margin: auto;

}




}