
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ef0437;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navListItem {
    margin: 0 15px;
    cursor: pointer;
}

.navListItem a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 16px;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.navListItem a:hover {
    background-color: rgba(47, 20, 203, 0.1);
}

.logo-img {
    max-width: 100px;
    max-height: 100px;
}

/* Main section */
.Right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
/* Button Styles */
button {
    padding: 15px 25px;
    background-color: #e11425;
    color: #ffffff;
    border: 2px solid #e11425;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    display: block; /* Makes the button a block element */
    margin: 20px auto; /* Centers the button and adds some margin */
    text-transform: uppercase; /* Makes the button text uppercase */
    max-width: 250px;
}

button:hover {
    background-color: #ffffff;
    color: #e11425;
}

/* Disruptions container */
.disruptions-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.disruption-list {
    list-style-type: none; /* Removes default bullet points */
    padding: 0;
    margin: 0;
}

.disruption-item {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #e11425;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}

.disruption-item:hover {
    background-color: #e6e6e6;
}

h1, h2 {
    border-bottom: 2px solid #e11425;
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center; /* Center the headers */
}

/* Line statuses styles */
.line-status-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.line-status-list {
    list-style-type: none; /* Removes default bullet points */
    padding: 0;
    margin: 0;
}

.line-status-item {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #e11425;
    background-color: #f8f8f8;
    transition: background-color 0.3s;
}

.line-status-item:hover {
    background-color: #e6e6e6;
}


.Datebutton, .Travelbutton {
    padding: 15px 25px;
    background-color: #c8c9ca;
    color: #2d2d2d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    transition: all 0.3s;
}

.Datebutton:hover, .Travelbutton:hover {
    background-color: #9ca9b3;
    transform: translateY(-5px);
}

.list-container {
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 700px;
    margin: 50px auto;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    font-size: 20px;
    margin: 10px 0;
    transition: color 0.3s;
}

.list li:hover {
    color: #df2030;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .navList {
        flex-direction: column;
        margin-top: 20px;
    }

    .navListItem {
        margin: 10px 0;
    }

    .Right {
        padding: 0 20px;
    }

    .list-container {
        padding: 20px;
    }
} 