#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

#travel {
  flex: 1; 
  padding: 0px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #e2e1e1;
    color: #222020; 
}

.navListItem a {
    font-size:1.2rem ;
    text-decoration: none;
    color: #131212;
    padding: 15px 16px;
    transition: background-color 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

.navListItem a:hover {
    background-color: rgba(47, 20, 203, 0.1);
    font-size:1.23rem ;
    transition: all 0.3s;   
}

.logo-img {
    max-width: 100px;
    max-height: 100px;
}

/* Main section */
/* .Right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
} */

/* Button Styles */
button {
    padding: 15px 25px;
    background-color: rgb(205, 21, 21);
    color: #ffffff;
    border: 2px solid rgb(204, 40, 40);
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.7s;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    max-width: 250px;
}

button:hover {
    background-color: #ffffff;
    color:rgb(204, 40, 40);
}

.options select{
    padding: 2px;
}

/* Disruptions container */
.disruptions-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.disruption-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.disruption-item {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid rgb(204, 40, 40);
    background-color: #f8f5f5;
    transition: background-color 0.3s;
}

.disruption-item:hover {
    background-color: #d9d9da;
}

  h1, h2 {
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
}


.line-status-item:hover {
    background-color: #5dc60d;
} 
#londonline{
   margin-left: 45%;
}




/* Footer styles */
footer {
  margin-top: 10rem;
  background-color: #dcd5d5;
  text-align: center;
  padding: 20px 0;
}



.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link {
    text-decoration: none;
    color: #040303; 
    padding: 5px 10px;
}
.footer-link:hover{
    color: #ee0404;
    font-size: 1.1rem;
}





/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .navList {
        flex-direction: column;
        margin-top: 20px;
    }

    .navListItem {
        margin: 10px 0;
    }

    .Right {
        padding: 0 20px;
    }

    .list-container {
        padding: 20px;
    }

    .footer {
        padding: 10px;
    }
    
   .londonLine{
   margin-left: 25%;
}
.logo-img{
    align-items: center;
       margin-left: 25%;
}
.options select{
    padding: 0px;
}
}




